<div layout="row" layout-align="start center">
    <div ng-repeat="step in steps | limitTo:(steps.length-1)">
        <a href="{{step.ncyBreadcrumbLink}}">{{step.ncyBreadcrumbLabel}}</a>
    </div>
    <div ng-repeat="step in steps | limitTo:-1" class="active">
        {{step.ncyBreadcrumbLabel}}
    </div>
</div>