<div layout="row">
    <md-sidenav md-is-locked-open="true" 
                layout="column" class="md-sidenav-left"
                ng-class="{'main-sidenav-collapsed': ctrl.collapsed}">
        <md-toolbar layout="row" layout-align="space-around center">
            <div><i class="fa fa-bank"></i><span ng-hide="ctrl.collapsed"> DuckTales</span></div>
        </md-toolbar>
        <md-toolbar flex class="md-hue-2" layout="column">
            <ul flex class="main-menu">
                <li><md-button ng-href="#/wallets"><i class="fa fa-folder-open"></i><span ng-hide="ctrl.collapsed">Portefeuilles</span></md-button></li>
                <li><md-button ng-href="#/wallets/{{ctrl.walletId}}/accounts" ng-disabled="ctrl.walletId == null"><i class="fa fa-bank"></i><span ng-hide="ctrl.collapsed">Comptes</span></md-button></li>
                <li><md-button ng-href="#/wallets/{{ctrl.walletId}}/accounts/{{ctrl.accountId}}/operations" ng-disabled="ctrl.walletId == null || ctrl.accountId == null"><i class="fa fa-tasks"></i><span ng-hide="ctrl.collapsed">Opérations</span></md-button></li>
            </ul>
            <span flex></span>
            <ul flex class="main-menu footer" layout="column" layout-align="end center">
                <li><md-button ng-click="ctrl.onCollapseExpand()"><i class="fa" ng-class="{'fa-compress': !ctrl.collapsed, 'fa-expand': ctrl.collapsed}"></i></md-button></li>
            </ul>
        </md-toolbar>
    </md-sidenav>
</div>