<md-toolbar class="main-toolbar">
    <div class="md-toolbar-tools">
        <div layout="row" flex>
            <div class="breadcrumb md-subhead" layout="row" layout-align="start center">
                <div ng-show="ctrl.showWallets">
                    <md-input-container>
                        <md-select ng-model="ctrl.selectedWalletId" ng-change="ctrl.onWalletChange()">
                            <md-option ng-repeat="wallet in ctrl.wallets" ng-value="wallet.id">
                                {{wallet.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-show="ctrl.showAccounts">
                    <md-input-container>
                        <md-select ng-model="ctrl.selectedAccountId" ng-change="ctrl.onAccountChange()">
                            <md-option ng-repeat="account in ctrl.accounts" ng-value="account.id">
                                {{account.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ncy-breadcrumb></div>
            </div>
        </div>
        <span flex></span>
        <div layout="row" class="md-toolbar-item">
            <i class="fa fa-sign-out"></i>
        </div>
    </div>
</md-toolbar>
