<div layout="column" class="panel">
    <md-toolbar class="panel-toolbar md-accent">
        <form ng-submit="ctrl.onCreate()" name="newWalletForm" role="form">
            <div class="md-toolbar-tools">
                <md-input-container md-no-float>
                    <input ng-model="ctrl.newWallet.name" name="name" required placeholder="Nom du portefeuille">
                </md-input-container>
                <span flex></span>
                <md-button type="submit" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Créer le nouveau portefeuille</md-tooltip>
                    <i class="fa fa-save"></i>
                </md-button>
            </div>
        </form>
    </md-toolbar>
    <md-content class="panel-content description">
        <span class="md-title">Créer un nouveau portefeuille.</span>
        <p class="md-body-1">Un portefeuille est un ensemble de comptes banquaires.</p>
    </md-content>
</div>