<div layout="column" class="panel">
    <md-toolbar class="panel-toolbar md-primary">
        <div ng-if="!ctrl.editing" class="md-toolbar-tools">
            <h3><a href="#/wallets/{{ctrl.wallet.id}}/accounts">{{ctrl.wallet.name}}</a></h3>
            <span flex></span>
            <md-button ng-click="ctrl.onEdit()" class="md-icon-button">
                <md-tooltip md-direction="bottom">Editer</md-tooltip>
                <i class="fa fa-edit"></i>
            </md-button>
            <md-button ng-click="ctrl.onDelete($event)" class="md-icon-button">
                <md-tooltip md-direction="bottom">Supprimer</md-tooltip>
                <i class="fa fa-trash-o"></i>
            </md-button>
        </div>
        <form ng-if="ctrl.editing" ng-submit="ctrl.onEditSave()" name="editWalletForm" role="form">
            <div class="md-toolbar-tools">
                <md-input-container md-no-float>
                    <input ng-model="ctrl.wallet.name" name="name" required placeholder="Nom du portefeuille">
                </md-input-container>
                <span flex></span>
                <md-button ng-click="ctrl.onEditCancel()" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Annuler</md-tooltip>
                    <i class="fa fa-close"></i>
                </md-button>
                <md-button type="submit" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Enregistrer les modifications</md-tooltip>
                    <i class="fa fa-save"></i>
                </md-button>
            </div>
        </form>
    </md-toolbar>
    <md-content class="panel-content">
        <span class="md-caption">Créé le {{ctrl.wallet.creationDate | amFromUnix | amDateFormat:'LLLL'}}</span>
    </md-content>
</div>