/**
 * Ducktales style.
 */
@CHARSET "UTF-8";


body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

/*
 * Main left menu.
 */
 
.main-sidenav-collapsed {
    width: 60px !important;
    min-width: 60px !important;
    overflow-x: hidden; 
}

.main-menu, .main-menu ul {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.main-menu, .main-menu ul.footer {
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin: 0;
    width: 100%;
}

.main-menu .md-button {
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    text-transform: none;
}

.main-menu .md-button i {
    margin-right: 15px;
}

/*
 * Main top toolbar.
 */

.main-toolbar {
    background-color: white !important;
    color: #4c4e54 !important;
}

.breadcrumb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: box;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb > *:after {
    content: "\00a0/\00a0";
}

/*
 * Main content.
 */

.main-content {
    padding: 15px;
    background-color: #EAEBEC;
}

/*
 * Commons
 */
 
.description {
    text-align: center;
}
 
.panel {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.panel-toolbar {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.panel-content {
    padding: 8px;
    border-radius: 0 0 3px 3px;
}
