<dkt-main-sidenav></dkt-main-sidenav>

<div layout="column" flex>
    <dkt-main-toolbar></dkt-main-toolbar>
    <md-content ui-view layout="column" layout-padding md-scroll-y flex class="main-content"></md-content>
</div>