<div layout="column" class="panel">
    <form ng-submit="ctrl.onCreate()" name="newAccountForm" role="form">
        <md-toolbar class="panel-toolbar md-accent">
            <div class="md-toolbar-tools">
                <md-input-container md-no-float>
                    <input ng-model="ctrl.newAccount.name" name="name" required placeholder="Nom du compte">
                </md-input-container>
                <span flex></span>
                <md-button type="submit" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Créer le nouveau compte</md-tooltip>
                    <i class="fa fa-save"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="row" class="panel-content">
            <md-input-container>
                <input ng-model="ctrl.newAccount.bankCode" name="bankCode" placeholder="Code banque">
            </md-input-container>
            <md-input-container>
                <input ng-model="ctrl.newAccount.officeCode" name="officeCode" placeholder="Code guichet">
            </md-input-container>
            <md-input-container flex>
                <input ng-model="ctrl.newAccount.number" name="number" placeholder="N° du compte">
            </md-input-container>
        </md-content>
    </form>
</div>