<div layout="column" class="panel">
    <md-toolbar ng-if="!ctrl.editing"  class="panel-toolbar md-primary">
        <div class="md-toolbar-tools">
            <h3><a href="#/wallets/{{ctrl.walletId}}/accounts/{{ctrl.account.id}}/operations">{{ctrl.account.name}}</a></h3>
            <span flex></span>
            <md-button ng-click="ctrl.onEdit()" class="md-icon-button">
                <md-tooltip md-direction="bottom">Editer</md-tooltip>
                <i class="fa fa-edit"></i>
            </md-button>
            <md-button ng-click="ctrl.onDelete($event)" class="md-icon-button">
                <md-tooltip md-direction="bottom">Supprimer</md-tooltip>
                <i class="fa fa-trash-o"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content ng-if="!ctrl.editing" class="panel-content">
        Numéro du compte : {{ctrl.account.bankCode}} {{ctrl.account.officeCode}} {{ctrl.account.number}}<br/>
        <span class="md-caption">Créé le {{ctrl.account.creationDate | amFromUnix | amDateFormat:'LLLL'}}</span>
    </md-content>
    <form ng-if="ctrl.editing" ng-submit="ctrl.onEditSave()" name="editAccountForm" role="form">
        <md-toolbar class="panel-toolbar md-primary">
            <div class="md-toolbar-tools">
                <md-input-container md-no-float>
                    <input ng-model="ctrl.account.name" name="name" required placeholder="Nom du compte">
                </md-input-container>
                <span flex></span>
                <md-button ng-click="ctrl.onEditCancel()" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Annuler</md-tooltip>
                    <i class="fa fa-close"></i>
                </md-button>
                <md-button type="submit" class="md-icon-button">
                    <md-tooltip md-direction="bottom">Enregistrer les modifications</md-tooltip>
                    <i class="fa fa-save"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-content class="panel-content">
            <md-input-container>
                <input ng-model="ctrl.account.bankCode" name="bankCode" placeholder="Code banque">
            </md-input-container>
            <md-input-container>
                <input ng-model="ctrl.account.officeCode" name="officeCode" placeholder="Code guichet">
            </md-input-container>
            <md-input-container flex>
                <input ng-model="ctrl.account.number" name="number" placeholder="N° du compte">
            </md-input-container>
        </md-content>
    </form>
</div>