<div layout="column" layout-align="start center" flex>
    <dkt-wallet-summary-panel ng-repeat="wallet in ctrl.wallets"
                              wallet="wallet"
                              after-edit="ctrl.onAfterEdit(wallet)"
                              after-delete="ctrl.onAfterDelete(wallet)">
    </dkt-wallet-summary-panel>
    <dkt-wallet-creation-form wallets-count="ctrl.wallets.length" 
                              after-create="ctrl.onAfterCreate(createdWallet)">
    </dkt-wallet-creation-form>
</div>