<div layout="column" layout-align="start center" flex>
    <dkt-account-summary-panel ng-repeat="account in ctrl.accounts"
                               wallet-id="ctrl.walletId"
                               account="account"
                               after-edit="ctrl.onAfterEdit(account)"
                               after-delete="ctrl.onAfterDelete(account)">
    </dkt-account-summary-panel>
    <dkt-account-creation-form accounts-count="ctrl.accounts.length" 
                               after-create="ctrl.onAfterCreate(createdAccount)">
    </dkt-account-creation-form>
</div>